
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Un asset può essere letto, aggiornato o eliminato solo dal suo proprietario.
    match /assets/{assetId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Un nuovo asset può essere creato da qualsiasi utente autenticato,
      // a condizione che il campo userId corrisponda all'uid dell'utente che effettua la richiesta.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}

    